<!-- ////////////// HEADER ////////////// -->
header
	.container.p-0
		.row
			.col
				.logo
					img.img-fluid(src="./img/logo.png", alt="logo", srcset="")
				.menu
					ul
						li
							a(href="#") Home
						li
							a(href="#") About
						li
							a(href="#") Services
						li
							a(href="#") Contact Us
<!-- ////////////// HEADER ////////////// -->
